In [3]:
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
import dateparser
from MeesmanScraper import config as cfg

In [4]:
conf = cfg.get_configuration()
user_meesman = conf['Meesman'].get('user')
pw_meesman = conf['Meesman'].get('password')
host_mysql = conf['MySQL'].get('host')
user_mysql = conf['MySQL'].get('user')
pw_mysql = conf['MySQL'].get('password')
db_mysql = conf['MySQL'].get('database')

In [6]:
browser = webdriver.Chrome()
browser.get('https://mijn.meesman.nl/login')

In [7]:
username = browser.find_element_by_id('username')
username.send_keys(user_meesman)

In [8]:
password = browser.find_element_by_id('password')
password.send_keys(pw_meesman)

In [9]:
login = browser.find_element_by_xpath('//*[@id="login-submit"]')

In [10]:
login.click()

In [11]:
transacties = browser.find_element_by_link_text('Transacties')

In [12]:
transacties.click()

In [13]:
def check_exists_by_link_text(browser, link_text):
    try:
        browser.find_element_by_link_text(link_text)
    except NoSuchElementException:
        return False
    return True

In [14]:
table = browser.find_element_by_class_name('meesmantable')
table_html = table.get_attribute('outerHTML')
df = pd.read_html(table_html, thousands='.', decimal=',')
meesmantable = df[0]

In [15]:
check = check_exists_by_link_text(browser, 'Volgende pagina')
while check:
    next_page = browser.find_element_by_link_text('Volgende pagina')
    next_page.click()
    table = browser.find_element_by_class_name('meesmantable')
    table_html = table.get_attribute('outerHTML')
    df = pd.read_html(table_html, thousands='.', decimal=',')
    meesmantable = meesmantable.append(df[0])
    check = check_exists_by_link_text(browser, 'Volgende pagina')

In [16]:
browser.close()

In [17]:
table = meesmantable.copy()

In [18]:
meesmantable = meesmantable.assign(Datum=meesmantable.Datum.map(lambda x: dateparser.parse(x, languages=['nl'])))

In [19]:
meesmantable = meesmantable.sort_values(['Fonds', 'Datum'])

In [20]:
meesmantable.loc[meesmantable.Transactie == "Aankoop", 'Transactie'] = 'Periodieke Aankoop'

In [28]:
meesmantable['Bedrag'] = meesmantable.Bedrag.str.replace('[â‚¬\s*.]', '').str.replace(',', '.').astype(float)

In [17]:
def is_buy(row):
    if row['Transactie'] != 'Dividend Herbelegging':
        return row['Bedrag']
    return 0

In [18]:
meesmantable['Betaling'] = meesmantable.apply(lambda x: is_buy(x), axis=1)

In [19]:
def is_sale(row):
    if row['Bedrag'] < 0:
        return -row['Aantal']
    return row['Aantal']

In [20]:
meesmantable['Aantal'] = meesmantable.apply(lambda x: is_sale(x), axis=1)

In [21]:
meesmantable['Totaal_Aantal'] = meesmantable.groupby('Fonds').Aantal.cumsum()
meesmantable['Totaal_Bedrag'] = meesmantable.groupby('Fonds').Bedrag.cumsum()
meesmantable['Totaal_Betaling'] = meesmantable.groupby('Fonds').Betaling.cumsum()

In [22]:
meesmantable['Totaal_Waarde'] = meesmantable['Koers'] * meesmantable['Totaal_Aantal']

In [23]:
meesmantable = meesmantable.drop('Afschrift', axis=1)

In [24]:
meesmantable['Key'] = (meesmantable.Datum.dt.strftime('%d%m%y') + 
                       meesmantable.Fonds.apply(lambda x: ''.join(word[0] for word in x.split())))

In [37]:
meesmantable.loc[meesmantable.Betaling < 0]

,Datum,Transactie,Fonds,Aantal,Koers,Bedrag,Betaling,Totaal_Aantal,Totaal_Bedrag,Totaal_Betaling,Totaal_Waarde,Key
17,2017-02-03,Verkoop Switch,Aandelen Wereldwijd,-0.4082,103.7751,-42.36,-42.36,16.9542,1600.78,1582.64,1759.4238,030217AW

Load operations

In [31]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

In [32]:
engine = create_engine('mysql://root:Crunch2016@localhost/Meesman')

In [33]:
if not database_exists(engine.url):
    create_database(engine.url)

In [34]:
conn = engine.connect()
meesmantable.to_sql('transacties', con = conn, if_exists='replace', index=False, )

In [35]:
conn.close()

In [27]:
meesmantable.loc[meesmantable.Datum == meesmantable.Datum.max()]

,Datum,Transactie,Fonds,Aantal,Koers,Bedrag,Betaling,Totaal_Aantal,Totaal_Bedrag,Totaal_Betaling,Totaal_Waarde,Key
1,2018-10-05,Periodieke Aankoop,Aandelen Opkomende Landen,0.5134,77.7209,40.0,40.0,11.3441,856.76,850.00,881.673662,051018AOL
0,2018-10-05,Periodieke Aankoop,Aandelen Wereldwijd,1.2787,117.0127,150.0,150.0,34.2931,3521.60,3442.64,4012.728222,051018AW
2,2018-10-05,Periodieke Aankoop,Obligaties Wereldwijd,0.1950,51.1242,10.0,10.0,15.4031,807.25,807.25,787.471165,051018OW

In [28]:
meesmantable.loc[meesmantable.Datum == meesmantable.Datum.max()].Totaal_Waarde.sum()

5681.87304908

In [30]:
meesmantable.loc[meesmantable.Datum == meesmantable.Datum.max()].Totaal_Betaling.sum()

5099.89